/**
 * Styling rules for the app. interface
 * @todo Restructure for Bootstrap/Sass
 * @author griffinj@lafayette.edu
 */

/*
 * Header
 */
#header-container {
    background-color: #ffffff;
    background-image: url("../img/swift_header.png");
    width: 100%;
}

#header-container h1, #header-container h2 {
    clear: both;
    float: right;
}

/**
 * Navbar
 */
#navbar-menu {
    height: 64px;
}

#navbar-menu li {
    padding: 2px;
}

#navbar-menu li a {
    color: #ffffff;
    font-size: x-large;
    height: 64px;
    text-align: center;
}

#menu-nav-reset {
    padding-top: 8px;
}

/**
 * Footer
 */
#footer-navbar {
    margin-bottom: 0;
    text-align: center;
}



/**
 * Body
 */
.page-header {
    color: #ffffff;
}

.display-initial {
    
    font-variant: small-caps;
}

.DISPLAY-INITIAL {
    
    font-variant: small-caps;
}

/* Refactor using LESS */
.gradient-severe {

    background-color: #f27474;
}

.gradient-hot {

    background-color: #f2a5a5;
}

.gradient-warm {

    background-color: #f2b3b3;
}

.gradient-moderate {

    background-color: #f2c2c2;
}

.gradient-mild {

    background-color: #F2DEDE;    
}

.gradient-none {

    background-color: #F2DEDE;    
}

.navbar-header {

    float:inherit;
}

.navbar-brand {

    height: 64px;
    padding: 8px;
}

.navbar-brand img {

    height: 48px;
}

#reset-scroll {
    padding: 15px 15px 15px 15px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
}

.line-row-number {

    width: 14%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    border-top: inherit;
}
