
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.display-initial {
    
    font-variant: small-caps;
}

.DISPLAY-INITIAL {
    
    font-variant: small-caps;
}

/* Refactor using LESS */
.gradient-severe {

    background-color: #f27474;
}

.gradient-hot {

    background-color: #f2a5a5;
}

.gradient-warm {

    background-color: #f2b3b3;
}

.gradient-moderate {

    background-color: #f2c2c2;
}

.gradient-mild {

    background-color: #F2DEDE;    
}

.gradient-none {

    background-color: #F2DEDE;    
}

.navbar-header {

    float:inherit;
}

.navbar-brand {

    height: 64px;
    padding: 8px;
}

.navbar-brand img {

    height: 48px;
}
