{% extends "base.html" %}

{% block content %}
      <!-- Example row of columns -->
      <div id="collation-container" class="row">
        <div class="col-md-12">
          <h2>Collation of Variant Texts</h2>
          <p>Witnesses are organized by line, with each line being further tokenized using an approach optimized for Documents within the Swift Poems Project.</p>

	  {% for line_index, lines in collation.body.iteritems() %}

	  <h2>Line {{ line_index + 1 }}</h2>

	  <h3>Line Tokens</h3>
	  <table class="table table-striped">
	    <thead>

	      <th>Witness</th>
	    </thead>

	    <tbody>

	      {% for text_id, line_values in lines.witnesses.iteritems() %}
	      <tr>
		<th scope="row"> {{ text_id }} </th>

		{% for token in line_values['line'].tokens %}
		    {% module Token(token) %}
		{% end %}
	      </tr>
	      {% end %}
	    </tbody>
	  </table>

	  <h3>Line Variation</h3>
	  <table class="table table-striped">
	    <thead>
	      <th>Line Number</th>
	      <th>Witness</th>
	      <th>Line Text</th>

	    </thead>

	    <tbody>

	      {% for text_id, line_values in lines.witnesses.iteritems() %}
	      <tr>

		  <th scope="row"> {{ line_index }} </th>
		  <td> {{ text_id }} </td>
		  <td> {{ line_values['line'].value }} </td>
	      </tr>
	      {% end %}
	    </tbody>
	  </table>

	  {% end %}
        </div>
      </div>
{% end %}
