{% extends "base.html" %}

{% block poemsDisabled %}
<div class="container-poems-select" ng-controller="PoemsSelectController">
<form action="" method="post">
    <fieldset class="form-group">
        <legend for="poems-select2">Poem for Collation</legend>
	<ui-select ng-model="person.selected" theme="select2" title="Choose a person">
	    <ui-select-match placeholder="Select a poem">{% raw "{{ $select.selected.name }}" %}</ui-select-match>
	    <ui-select-choices repeat='item in (itemArray | filter: {% raw "$select.search" %}) track by item.id'>
                <span ng-bind="item.name"></span>
	    </ui-select-choices>
	</ui-select>
    </fieldset>
</form>
</div>
{% end %}

{% block poems %}
<form action="" method="post">
    <fieldset class="form-group">
        <legend for="poems-select2">Poem Collections</legend>
	<select id="poems-select2" class="form-control"></select>
    </fieldset>
</form>

<script src="{{ static_url('js/index.js') }}"></script>
<script src="/collate/static/js/index.js"></script>
{% end %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Collation of Witnesses</h2>
          <p>Using functionality imported from the networkx and nltk Projects, collections of texts are collated and analyzed for line-by-line similarity.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Developed for Documents in Compliance with the TEI</h2>
          <p>This project was scoped in order to parse TEI-P5 Documents.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Integration with Fedora Commons</h2>
          <p>A forthcoming application shall provide integration with collections managed in the Fedora repository.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
{% end %}
