{% extends "base.html" %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Collation of Witnesses</h2>
          <p>Using functionality imported from the networkx and nltk Projects, collections of texts are collated and analyzed for line-by-line similarity.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Developed for Documents in Compliance with the TEI</h2>
          <p>This project was scoped in order to parse TEI-P5 Documents.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Integration with Fedora Commons</h2>
          <p>A forthcoming application shall provide integration with collections managed in the Fedora repository.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
{% end %}

